{% extends 'base.html' %}

{% block content %}
<h1>Welcome {% if session['user_id'] %}Home - {{g.user.first_name}}

    {% endif %}</h1>

<div id='search'>
    <input class="input" type="text" id="search-word">

    <input id="adverb" type="radio" name="pos" value="-a">
    <label for="adverb">adverb</label>

    <input id="adverb" type="radio" name="pos" value="-n">
    <label for="adverb">noun</label>

    <input id="adverb" type="radio" name="pos" value="-v">
    <label for="adverb">verb</label>

    <input id="adverb" type="radio" name="pos" value="-j">
    <label for="adverb">adjective</label>

    <button class="btn btn-info">Seach</button>
</div>

<hr class='my-2'>

<div class="my-2 container-fluid">
    <div class="row justify-content-between">
        <div class="col-5">

            <div class="container justify-content-center" id="dictionary">
                <ul id="definitions">

                </ul>

                <div id="corpus-data">
                    <!-- Google chart rendered here -->
                </div>

                <div id="gramrels" class="btn-group mr-2" role="group" aria-label="First group">

                </div>
            </div>
        </div>

        <div id="pronunciation" class="col-6 align-items-center">
            <div class="align-items-center">
                <div id="youglish"></div>
            </div>

            {# Form used to submit notes#}
            {% if 'user_id' in session %}
            <div id="notes" class="row justify-content-md-center">

                <form action="/{{g.user.id}}/notes" method="POST" id="note-form">
                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(rows="7", placeholder=field.label.text, class="form-control my-2") }}
                    {% endfor %}

                    <button class="btn btn-primary btn-sm btn-block">Save Note</button>
                </form>

            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}