{% extends 'base.html' %}

{% block content %}
<h1>Welcome {% if session['username'] %}Home - {{session['username']}} <a href="/logout">Logout</a>
    {% else %}
    <a style="text-align: right;" href="/login">Login</a>
    {% endif %}</h1>

<div id='search'>
    <input class="input" type="text">
    <label for="adverb">adverb</label>
    <input id="adverb" type="radio" name="pos" value="-a">
    <label for="adverb">noun</label>
    <input id="adverb" type="radio" name="pos" value="-n">
    <label for="adverb">verb</label>
    <input id="adverb" type="radio" name="pos" value="-v">
    <label for="adverb">adjective</label>
    <input id="adverb" type="radio" name="pos" value="-j">
    <button class="btn btn-info">Seach</button>
</div>

<div class="container" id="dictionary">
    <ul id="definitions">

    </ul>

    <div id="corpus-data">

    </div>

    <div id="gramrels" class="btn-group mr-2" role="group" aria-label="First group">

    </div>
</div>


{% if 'username' in session %}
<form class="form" action="user/{{session['username']}}/feedback" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
  if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% endif %}
{% endblock %}