{% extends 'base.html' %}

{% block content %}
<div id="header" class="row">
    <h1 class="slogan">Discover words, in the Wild.</h1>

    <div id='search'>
        <input class="input my-3 mx-3" type="text" id="search-word">
        <button id="s-button" class="btn btn-info btn-sm">Search</button>

        <br>

        <input id="adverb" type="radio" name="pos" value="-a">
        <label for="adverb">adverb</label>

        <input id="noun" type="radio" name="pos" value="-n">
        <label for="noun">noun</label>

        <input id="verb" type="radio" name="pos" value="-v">
        <label for="verb">verb</label>

        <input id="adj" type="radio" name="pos" value="-j">
        <label for="adj">adjective</label>


    </div>
</div>


<div class="my-2 container">
    <div class="row justify-content-between">
        <aside class="col">

            <div class="container justify-content-center" id="dictionary">
                <div id="dict-view" class="slide-fwd-center">
                    <span class="h3 my-4" id="searched-word">

                    </span>

                    <ul id="definitions">

                    </ul>
                </div>

                <div id="corpus-data">
                    <!-- Google chart rendered here -->
                </div>

                <div id="gramrels" class="btn-group mr-2" role="group" aria-label="First group">

                </div>
            </div>
        </aside>

        <aside id="pronunciation" class="col align-items-center">
            <div id="player" class="align-items-center">
                <h5>How the word <span id="show-word"></span> sounds like in its natural habitat: </h5>
                <a id="youglish" data-bkg-color="#ffcb74"></a>
            </div>

            {# Form used to submit notes#}
            {% if 'user_id' in session %}
            <div id="notes" class="row justify-content-md-center">

                <form action="/{{g.user.id}}/notes" method="POST" id="note-form">
                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(rows="7", placeholder=field.label.text, class="form-control my-2") }}
                    {% endfor %}

                    <button class="btn btn-info btn-sm btn-block">Save Note</button>
                </form>

            </div>
            {% endif %}
        </aside>
    </div>
</div>


{% endblock %}